@charset "utf-8";

* { margin: 0;
    padding: 0;
}

.header {
  background-color:#07568F;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 10px 25px;
}

.btn {		
	position: relative;
	padding: 5px 5px;
	padding-right: 10px;
	font-size: 12px;
  font-family: sans-serif;
	color: var(--inv);
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    text-align: center;
    display: inline-block;
    margin-top: 0px;
	margin-bottom: 0px;
	color: white; 

 	
}

.btn:hover {
  color: #B4CDED;
	transition-delay: 0.1s;

  }



/*Container*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
  .container img {
    max-width: 100%;
    max-height: 100%;
  }

  .none {
    background-color:#F26419;
    height: 5px;
  
  }
  .primary{
    height: 330px;
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
      
  }
  /* Three columns side by side */
.column {
    width: 300px;   
    margin-bottom: 16px;
    padding: 0 8px;

  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: background-color 0.7s;
    height: 450px;

  }

  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #d4e7ff;
    

  }

  .card:hover .title {
    color: #2161b6;
  }
  
  .card img {
    width: 250px;
    height: auto;
  }
  /* Some left and right padding inside the container */
  .container-1 {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container-1::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin-top: 5px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    background-image: linear-gradient(45deg,#07568F, #5fafe9);
    font-weight: bold;
  }
  
  .button:hover {
    background-image: linear-gradient(45deg, #5fafe9,#07568F);
    transition: all 0.3s ease;

  }
  
  
  /*Footer*/

footer {
    background-color: #1F271B;
    padding: 20px 0;
    font-family: 'roboto', sans-serif;
  }
  
  .container-3 {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: left;
    color: rgba(255, 255, 255, 0.534);
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links li {
    display: block;
  }
  
  .footer-links li:not(:last-child) {
    margin-right: 10px;
  }
  
  .footer-links a {
    color: rgba(255, 255, 255, 0.534);
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  